@import "settings_colors";
@import "vanilla-framework/scss/build";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// XXX Fix for inline image SVGs
.p-fluid-grid--centered {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.p-fluid-grid,
.p-fluid-grid--centered {
  align-items: center;
  background-color: #fff;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.p-logo-image {
  align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
}

.p-fluid-grid__item--small {
  min-width: 150px;
  width: 21.875%;

  @media screen and (min-width: 620px) {
    width: 15.04854%;
  }
}

.p-inline-images__logo {
  min-height: 7rem;
}

.p-strip--header {
  @extend %vf-strip;

  background-blend-mode: multiply, multiply, normal, normal;
  background-color: #111;
  background-image: linear-gradient(to bottom left, rgba(216, 216, 216, 0.54) 0, rgba(216, 216, 216, 0.54) 49.9%, transparent 50%), linear-gradient(to bottom right, rgba(228, 228, 228, 0.54) 0, rgba(228, 228, 228, 0.54) 49.9%, transparent 50%), linear-gradient(to top left, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 49.3%, rgba(247, 247, 247, 0) 50%, rgba(247, 247, 247, 0) 100%), linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
  background-position: top right, top left, right bottom -1px, left top;
  background-repeat: no-repeat;
  background-size: 74% 99.83%, 98% 91%, 192.8% 23.26%, 100% 99.8%;
  color: $color-x-light;
  margin: 0;
  padding-bottom: 10rem;
  padding-top: 2rem;

  @supports not (background-blend-mode: multiply) {
    background-image: linear-gradient ( to bottom left, rgba(216, 216, 216, 0.14) 0, rgba(216, 216, 216, 0.14) 49.9%, transparent 50%), linear-gradient(to bottom right, rgba(228, 228, 228, 0.14) 0, rgba(228, 228, 228, 0.14) 49.9%, transparent 50%), linear-gradient(to top left, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 49.3%, rgba(247, 247, 247, 0) 50%, rgba(247, 247, 247, 0) 100%), linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
  }

  @media (max-width: $breakpoint-small) {
    background-position: top right, top left, right bottom -1px, left top;
    background-repeat: no-repeat;
    background-size: 74% 99.83%, 148% 83%, 119% 13%, 100% 99.83%;
    padding-bottom: 10rem;
    padding-top: 4rem;
  }
}
