<!-- Footer -->
<div class="wrapper">
  <footer class="footer">

    <p class="footer__text">&copy; 2016 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>

    <ul class="footer__links">
       <li class="footer__list-item"><a href="http://www.ubuntu.com//legal">Legal information</a><span class="footer__dot"> &#183;</span></li>
       <li class="footer__list-item"><a href="https://github.com/ubuntudesign/cloud-init/issues/new">Report a bug on this site</a></li>
    </ul>

  </footer>
</div>

<script src="js/mediabox.js"></script>
<script>
  MediaBox('.mediabox');
</script>
