.box {
  border: 1px solid $alto-grey;
  border-radius: 3px;
  position: relative;
  background: $white;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;

  a {
    flex: 1;
    display: flex;
    flex-wrap: wrap;


    img {
      align-self: center;
      justify-content: center;
    }
  }

  &__txt {
    text-align: center;
    display: block;
    width: 100%;
    align-self: flex-end;
  }

  &__img-wrap {
    min-height: 100px;
    width: 100%;
    display: flex;
  }

  @media only screen and (min-width: $site-max-width) {
    padding: 1rem;

    .partner-list & {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .support & {
      padding: 2rem;
    }
  }

  .external {
    display: block;
  }

  &__img {
    width: 100%;
    max-width: 118px;
    max-height: 118px;
    display: block;
    margin: auto;
    padding: 0 1rem;
  }

  &__link {
    display: inline-block;
  }

  &__txt {
    margin: 1rem 0 0;
    text-align: center;
  }
}
