.box {
  padding: 2rem 2rem 4rem;
  border: 1px solid $alto-grey;
  border-radius: 3px;
  position: relative;

  &__img {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
  }

  &__link {
    display: inline-block;
  }

  &__txt {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    max-width: calc(100% - 4rem);
  }

}
