.card {
  padding: 2rem 2rem 3rem;
  border: 1px solid $alto-grey;
  border-radius: 3px;
  background-color: $white;

  &__img {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto 2rem;
    display: block;
  }

  &__link {
    display: inline-block;
  }

  .external {
    position: absolute;
    bottom: 1.25rem;
    left: 2rem;
  }
}
