$dark_aubergine: #2c001e;

.hero-row {
  @extend %vf-clearfix;
  background-color: $dark_aubergine;
  border-bottom: none;

  &__heading {
    margin-top: 1rem;
    color: $white;
  }

  &__cta {
    display: inline-block;
    margin-top: 1rem;
  }
}

.logo {
  display: flex;
  margin-bottom: 2rem;

  &__img {
    width: 60px;
    height: 60px;
  }

  &__txt {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 1rem;
    color: $white;
  }
}
