.list--bullets {
  margin-left: 0;

  @media only screen and (min-width: $breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding-left: 25px;
    position: relative;
    list-style: none;
    box-sizing: border-box;

    @media only screen and (min-width: $breakpoint-medium) {
      width: 50%;
    }

    &:before {
      content: '';
      background-image: url("https://assets.ubuntu.com/v1/c4b02d61-tick-orange.svg");
      background-repeat: no-repeat;
      display: block;
      left: 2px;
      top: 5px;
      color: $white;
      font-size: 20px;
      width: 16px;
      height: 16px;
      position: absolute;
    }
  }
}
